In [1]:
x = 5
y = 8
if x < y :
   print("yes")

yes

In [2]:
x = 5
y = 5
if x<y:
    print("x is lesser than y")
elif x==y:
    print("it is equal")
else:
    print("no comparision")

it is equal

In [3]:
x = 5
y = 6 
if x<y:
    print("yes")
if  x==y:
    print("yes yes")
else:
    print("no")

yes
no

In [4]:
x = 6
print("yes") if x==5 else print("no")

no

In [5]:
x = [3,4,5,6,7,8]
if 0  not in x:
    print("yes")

yes

In [6]:
x = 8
y = 6 
if x>y:
    pass

In [7]:
i = 1
while i < 6:
    print(i)
    i =i+1

1
2
3
4
5

In [8]:
i = 1
while i <8:
    print(i)
    if i==3:
      break
    i = i+1

1
2
3

In [20]:
 i = 1
while i < 8:
   i = i + 1
   if i==2:
     continue
   print(i)

3
4
5
6
7
8

In [24]:
i =  1
while i < 6:
    print(i)
    i += 1
else:
 print("It is no longer true")

1
2
3
4
5
It is no longer true

In [32]:
x = ["apple","mango","kiwi"]
for i in x:
    print(i)
    if i=="mango":
      break

apple
mango

In [36]:
x = ["apple","banana","mango"]
for i in x:
    print(i)

apple
banana
mango

In [40]:
x = [ "apple","banana","kiwi","lemon"]
for i in x:
    if i=="kiwi":
     break
    print(i)

apple
banana

In [46]:
x = ["apple","banana","lemon","kiwi"]
for i  in x:
    if i=="banana":
        continue
    print(i)

apple
lemon
kiwi

In [48]:
for x in range(8):print(x)

0
1
2
3
4
5
6
7

In [50]:
for x in range(2,6):
    print(x)

2
3
4
5

In [52]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [56]:
for x in range(10):
    print(x)
else:
    print("yes finaly finished")

0
1
2
3
4
5
6
7
8
9
yes finaly finished

In [75]:
for x in range(10):
   if x==2:
    break
   print(x)
else:
    print("finaly finished")

0
1

In [84]:
x = ["apple","mango","lemon","kiwi"]
y = ["melon","orange"]
for i in  x:
   for a in y:
      print(i,a)

apple melon
apple orange
mango melon
mango orange
lemon melon
lemon orange
kiwi melon
kiwi orange

In [88]:
for x in [0,1,2]:
   pass

In [90]:
#function
def myfunc():
    print("hello world")
myfunc()

hello world

In [94]:
def myfunc(fname):
    print(fname + " hello")
myfunc("dharun")
myfunc("revanth")
myfunc("mageswari")

dharun hello
revanth hello
mageswari hello

In [96]:
def myfunc(name1,name2):
    print(name1+ " "+name2)
myfunc("dharun","revanth")
myfunc("uma","mageswari")
myfunc("sibi","yaswanth")

dharun revanth
uma mageswari
sibi yaswanth

In [102]:
def myfunc(*kids):
    print("He is " + kids[0])
myfunc("dharun","revanth","uma")

He is dharun

In [104]:
def myfunc(child1,child2,child3):
    print("His name is " + child1)
myfunc(child1="sibi",child2="dharun",child3="uma")

His name is sibi

In [168]:
def myfunc(**kids):
   print( " He is " + kids["fname"])
myfunc(fname="dharun",lname="revanth")

 He is dharun

In [116]:
def myfunc(country="norway"):
   print("This is my " + country)
myfunc()
myfunc("india")
myfunc("china")
myfunc("japan")

This is my norway
This is my india
This is my china
This is my japan

In [128]:
def myfunc(fruits):
    for x in fruits:
       print(x)
fruits=["apple","mango","kiwi"]
myfunc(fruits)

apple
mango
kiwi

In [134]:
def myfunc(x):
    print(5 * x)
(myfunc(4))

20

In [142]:
def myfunc(x):
    return 5*x
print(myfunc(3))
print(myfunc(5))
print(myfunc(8))

15
25
40

In [150]:
def myfunc(*,x):
    print(x)
myfunc(x=3)

3

In [160]:
def myfunc(x,/):
    print(x)
myfunc(3)

3

In [164]:
def myfunc(a,b,/,*,c,d):
    print(a+b+c+d)
myfunc(1,2,c=3,d=4)

10